@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our site</h1>
    <p>In our website you can see visually how the report is kept in some delivery companies.</p>
    <p>To see how it works, register on our platform and take a look.</p>
</div>
